<head>
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link crossorigin rel="preconnect" href="https://www.google-analytics.com">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VQBCLDYG0E"></script>
  <script>

    window.dataLayer = window.dataLayer || [];
    function gtag(){
      
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
  
    gtag('config', 'G-VQBCLDYG0E');
  </script>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="description" content="terry fu personal portfolio - software developer trying to build solutions to the world’s problems ">
  <title>terry fu | personal website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/res/logo.png" />

  <!-- CSS Stylesheets and Fonts -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/lite.css"/>
</head>