<p class="lt-flex-50">
  i am a curious software developer who is interested in <strong>cybersecurity, iot, artificial intelligence</strong>, and everything in between. 
  <br><br>
  in my spare time, you can find me working out, exploring new tech, out in the wilderness or tinkering about with custom keyboards!
  <br><br>
  feel free to check out my 
  <a href ="https://www.linkedin.com/in/terryfu2/" target = "_blank"><strong><em> linkedin</em></strong></a>, 
 
  <a href ="https://vsco.co/terryfu/gallery" target = "_blank"><strong><em> vsco</em></strong></a>, 
  <a href ="https://www.github.com/terryfu2" target = "_blank"><strong><em> github</em></strong></a>, or my
  <a href ="res/resume.pdf" target = "_blank"><strong><em>resume</em></strong></a>.
</p>



<p class="lt-card lt-hover lt-shadow" id="bio_json">
  <span id=json0>{<br></span>
  <span id=json1>
    <span id=json1_1>"name"</span>
    <span id=json1_2>:</span>
    <span id=json1_3>"{{$.Site.Data.me.name}}"</span>
    <span id=json1_2>,</span>
  </span>
  <span id=json3>
    <span id=json3_1>"work"</span>
    <span id=json3_2>:</span>
    <span id=json3_4>{{$.Site.Data.me.at.job}}</span>
  </span>
  <span id=json2>
    <span id=json2_1>"school"</span>
    <span id=json2_2>:</span>
    <span id=json3_4>{{$.Site.Data.me.at.school}}</span>
    <span id=json1_2>,</span>
  </span>
  <span id=json4>
    <span id=json4_1>"degree"</span>
    <span id=json4_2>:</span>
    <span id=json4_3>"{{$.Site.Data.me.at.degree}}"</span>
    <span id=json1_2>,</span>
  </span>
  <span id=json5>
    <span id=json3_1>"extracurriculars"</span>
    <span id=json3_2>:</span>
    <span id=json4_3>"{{$.Site.Data.me.at.club}}"</span>
  </span>
 
  <span id=json0>}<br></span>
</p>